.auth-page {
  max-width: 400px;
  margin: 80px auto 0 auto;
  padding: 20px;
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  font-family: "Regular", sans-serif;
}

.auth-form {
  display: grid;
  gap: 12px;
}

.auth-form input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--btn-text);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.auth-error {
  background-color: #f9031c92;
  color: rgb(253, 250, 250);
  font-size: 0.9rem;
  margin: 10px 0;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
}
.auth-link {
  margin-top: 15px;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-color);
}

.auth-link a {
  color: var(--primary-color);
  text-decoration: underline;
}
