.btn-primary {
  background-color: var(--primary-color);
  color: var(--btn-text);
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

.btn-secondary {
  background-color: #6c757d;
  color: var(--btn-text);
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.btn-secondary:hover {
  background-color: #495057;
  transform: translateY(-2px);
}
