.event-card {
  border: 1px solid #dddddd64;
  padding: 25px;
  height: 100%;
  width: 100%;
  font-family: "Regular", sans-serif;
  border-radius: 8px;
  background-color: var(--card-bg);

  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

.event-card h3 {
  margin: 0 0 8px 0;
  color: var(--text-color);
}

.event-card p {
  margin: 4px 0;
  color: var(--text-color);
}

.event-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--btn-text);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.btn-secondary {
  background-color: #6c757d;
  color: var(--btn-text);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-secondary:hover {
  background-color: #495057;
}
