.hero {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  transition: background 0.3s, color 0.3s;
}

.hero-content {
  color: var(--text-color);
  max-width: 700px;
  padding: 20px;
}

.hero-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.hero h1,
.hero p {
  color: var(--text-color);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 12px 30px;
  background-color: var(--text-color);
  color: var(--bg-color);
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: var(--card-bg);
}
