.home-page {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.section-title {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 50px;
  margin-top: -50px;
  font-weight: bold;
  color: var(--text-color);
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.home-event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 8px;
  transition: background 0.3s, color 0.3s;
}
.home-event-card:hover {
  transform: scale(1.5);
}
.book-btn {
  margin-top: 10px;
  width: 100%;
  max-width: 220px;
  padding: 10px 16px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.book-btn:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
}

.empty-msg {
  text-align: center;
  font-size: 1.1rem;
  opacity: 0.7;
  margin: 40px 0;
  color: var(--text-color);
}
