.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: var(--header-bg);
  display: flex;
  align-items: center;
  z-index: 1000;
  transition: background 0.3s;
  padding-inline: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.nav-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icon {
  width: 40px;
  height: 40px;
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--btn-text);
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: var(--btn-text);
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #fdd835;
}

.nav-links a:focus {
  color: #05f42d;
}

.btn-logout {
  background: #dc3545;
  border: none;
  padding: 6px 14px;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s;
}

.btn-logout:hover {
  background: #fb031c;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--btn-text);

  font-size: 1.2rem;
  display: flex;
  align-items: center;
  transition: transform 0.2s;
}

.theme-toggle:hover {
  transform: scale(1.2);
}

.hamburger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: var(--btn-text);
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 80px;
  right: -100%;
  width: 220px;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--primary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: 0.3s ease-in-out;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

.mobile-menu.open {
  right: 0;
}

.mobile-menu a {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}
.mobile-menu a:hover {
  color: #fdd835;
}
.mobile-logout {
  width: 100%;
}

.mobile-toggle {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }
  .theme-toggle {
    color: var(--text-color);
  }
}
